
# fail if dep is not compatible with node version in "engine"
engine-strict=true
# force using "workspace:" protocol for workspace dependencies
link-workspace-packages=false
# add new deps using "workspace:" protocol
save-workspace-protocol=rolling
# only install deps for current dir
recursive-install=false
# fail if peer deps are not met
strict-peer-dependencies=true
# install peer dependencies on dependant modules automatically (DISABLE THIS AND SET DEPS EXPLICITLY)
auto-install-peers=true
# don't dedupe so that pnpm installs are focused only on current module (much faster)
dedupe-peer-dependents=false
